<div class="animated fade-in-down">
  <div *ngIf="isLoading" class="overlay-loader">
    <mat-progress-spinner diameter="50" color="accent" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div class="dashboard__header">
    <h1 class="dashboard__title">{{ 'dashboard.notes-by-apartment' | translate }}</h1>
  </div>

  <hr style="margin-bottom: 20px" />
  <form class="form-row" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field color="accent" class="form-field" appearance="outline">
      <mat-label>{{ 'apartments.input-apto' | translate }}</mat-label>
      <mat-select formControlName="apartment">
        <mat-option *ngFor="let option of apartments" [value]="option?.id">{{ option?.aptoNumber }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="search-notes">
      <button type="submit" [disabled]="!form.valid" mat-raised-button color="accent">
        {{ 'notes.search' | translate }}
        <mat-icon inline=true>search</mat-icon>
      </button>
    </div>
  </form>

  <div class="notes">
    <ng-template [ngIf]="notes?.length !== 0">
      <mat-card class="notes__card animated fade-in-down" data-animation-delay=".2" *ngFor="let note of notes">
        <div class="notes__card-container">
          <button [matTooltip]="translation.translate('notes.whatsapp-tooltip')"
            class="notes__card-opt-right notes__card-opt-right--whatsapp" (click)="onMessageOwner(note)" type="button"
            aria-label="Message to owner" mat-mini-fab>
            <mat-icon aria-label="whatsapp">
              message
            </mat-icon>
          </button>
          <div class="notes__card-header">
            <h2>{{ note?.title }}</h2>
          </div>
          <p style="margin-bottom: 20px;">{{ note?.description }}</p>
          <div style="margin-top: auto;">
            <div class="notes__datetime">
              <span class="notes__tag-info">
                <strong>{{ 'notes.date' | translate }}</strong>: {{ note?.date | date: 'dd-MM-YYYY' }}
              </span>
              <span class="notes__tag-info">
                <strong>{{ 'notes.time' | translate }}</strong>: {{ note?.time }}
              </span>
            </div>
          </div>
        </div>
      </mat-card>
    </ng-template>
    <ng-template [ngIf]="notes?.length === 0">
      <mat-card class="notes__card notes__card--no-notes-apto">
        <span>
          {{ 'notes.no-notes-apto' | translate }}
        </span>
      </mat-card>
    </ng-template>
  </div>
</div>
