<div class="animated fade-in-down">
  <div *ngIf="isLoading" class="overlay-loader">
    <mat-progress-spinner
      diameter="50"
      [color]="themeConfig.theme ? 'primary' : 'accent'"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div class="dashboard__header">
    <h1 class="dashboard__title">{{ 'notes.title' | translate }}</h1>
    <div class="dashboard__button">
      <button
        [routerLink]="['/home/notes/form']"
        mat-raised-button
        [color]="themeConfig.theme ? 'primary' : 'accent'">
        <mat-icon inline=true>add</mat-icon>
        {{ 'notes.add' | translate }}
      </button>
    </div>
  </div>
  <hr style="margin-bottom: 20px"/>
  <div class="notes animated fade-in-down">
    <ng-template [ngIf]="notes?.length !== 0">
      <mat-card class="notes__card" *ngFor="let note of notes">
        <span>{{ note?.title }}</span>
      </mat-card>
    </ng-template>
    <ng-template [ngIf]="notes?.length === 0">
      <mat-card [routerLink]="['/home/notes/form']" class="notes__card notes__card--no-items">
        <span>{{ 'notes.no-items' | translate }} <strong><u>{{ 'notes.add' | translate }}</u></strong></span>
      </mat-card>
    </ng-template>
  </div>
</div>
