@use '~@angular/material' as mat;
@import './../../../../assets/scss/utils/mixins';

.notes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px;
  gap: 20px;

  @include mq-up(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include e('card') {
    width: auto;
    cursor: pointer;
    border-radius: 5px;

    @include m('no-items') {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: transform 0.3s ease;
      line-height: 27px;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
