<div class="animated fade-in-down">
  <div *ngIf="isLoading" class="overlay-loader">
    <mat-progress-spinner diameter="50" color="accent" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div class="dashboard__header">
    <button mat-icon-button [routerLink]="['/dashboard/users']">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div>
      <h1 class="dashboard__title">{{ 'users.form-title' | translate }}</h1>
    </div>
  </div>
  <hr style="margin-bottom: 20px" />
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field color="accent" class="form-field" appearance="outline">
      <mat-label>{{ 'users.input-name' | translate }}</mat-label>
      <input #name matInput formControlName="name" maxlength="60">
      <mat-hint align="end">{{name.value.length}} / 60</mat-hint>
      <mat-error *ngIf="form.controls['name'].hasError('required')">
        {{ 'error.required' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field color="accent" class="form-field" appearance="outline">
      <mat-label>{{ 'apartments.input-apto' | translate }}</mat-label>
      <mat-select formControlName="apartment">
        <mat-option value=""></mat-option>
        <mat-option *ngFor="let option of apartments" [value]="option.id">{{ option?.aptoNumber }}</mat-option>
      </mat-select>
    </mat-form-field>

    <hr style="margin-bottom: 20px" />
    <h2 style="text-align: center;">{{ 'users.roles' | translate }}</h2>

    <mat-list class="form-field form-toggles">
      <div class="role">
        <p>
          <strong>{{ 'users.resident-title' | translate }}: </strong>
          {{ 'users.resident-info' | translate }}
        </p>
        <mat-slide-toggle color="accent" formControlName="isResident">
        </mat-slide-toggle>
      </div>
      <mat-divider></mat-divider>
      <div class="role">
        <p>
          <strong>{{ 'users.guard-title' | translate }}: </strong>
          {{ 'users.guard-info' | translate }}
        </p>
        <mat-slide-toggle color="accent" formControlName="isGuard">
        </mat-slide-toggle>
      </div>
      <mat-divider></mat-divider>
      <div class="role">
        <p>
          <strong>{{ 'users.admin-title' | translate }}: </strong>
          {{ 'users.admin-info' | translate }}
        </p>
        <mat-slide-toggle color="accent" formControlName="isAdmin">
        </mat-slide-toggle>
      </div>
      <mat-divider></mat-divider>
      <div class="role">
        <p>
          <strong>{{ 'users.super-admin-title' | translate }}: </strong>
          {{ 'users.super-admin-info' | translate }}
        </p>
        <mat-slide-toggle color="accent" formControlName="isSuperAdmin">
        </mat-slide-toggle>
      </div>
    </mat-list>

    <div class="form-actions">
      <button type="button" mat-raised-button [routerLink]="['/dashboard/users']">
        {{ 'general.cancel' | translate }}
      </button>
      <button type="submit" [disabled]="!form.valid" mat-raised-button color="accent">
        {{ 'users.update' | translate }}
        <mat-icon inline=true>manage_accounts</mat-icon>
      </button>
    </div>
  </form>
</div>
