@import "../../assets/scss/utils/mixins";

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 230px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-config {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.general-welcome {
  display: none;
  @include mq-up(md) {
    display: block;
  }
}

.toolbar-app-name {
  font-family: "Poppins";
  display: flex;
  gap: 10px;

  img {
    width: 25px;
  }
}

.list-option-icon {
  margin-right: 10px;
}
