<div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav color="accent" #drawer class="sidenav animated fade-in-left" fixedInViewport
      [attr.role]="!isDesktop ? 'dialog' : 'navigation'" [mode]="!isDesktop ? 'over' : 'side'" [opened]="isDesktop">
      <mat-toolbar class="toolbar-app-name">
        <img src="./../../assets/images/notes.png" alt="notes-logo">
        <div>{{ 'general.app-name' | translate }}</div>
      </mat-toolbar>
      <mat-nav-list>
        <mat-list>
          <a mat-list-item (click)="onSelectedOption()" [routerLink]="['/dashboard/home/']"
            routerLinkActive="router-link-active">
            <mat-icon class="list-option-icon">campaign</mat-icon>
            {{ 'dashboard.announcements' | translate }}
          </a>
          <mat-divider></mat-divider>
          <ng-template [ngIf]="isResident">
            <a mat-list-item (click)="onSelectedOption()" [routerLink]="['/dashboard/notes']"
              routerLinkActive="router-link-active">
              <mat-icon class="list-option-icon">text_snippet</mat-icon>
              {{ 'dashboard.notes' | translate }}
            </a>
          </ng-template>
          <ng-template [ngIf]="isGuard">
            <a mat-list-item (click)="onSelectedOption()" [routerLink]="['/dashboard/notes/apartment']"
              routerLinkActive="router-link-active">
              <mat-icon class="list-option-icon">text_snippet</mat-icon>
              {{ 'dashboard.notes-by-apartment' | translate }}
            </a>
          </ng-template>
          <ng-template [ngIf]="isAdmin">
            <a *ngIf="isDesktop && isDesktopDevice" mat-list-item (click)="onSelectedOption()"
              [routerLink]="['/dashboard/apartments']" routerLinkActive="router-link-active">
              <mat-icon class="list-option-icon">apartment</mat-icon>
              {{ 'dashboard.apartments' | translate }}
            </a>
          </ng-template>
          <ng-template [ngIf]="isAdmin">
            <a *ngIf="isDesktop && isDesktopDevice" mat-list-item (click)="onSelectedOption()"
              [routerLink]="['/dashboard/users']" routerLinkActive="router-link-active">
              <mat-icon class="list-option-icon">admin_panel_settings</mat-icon>
              {{ 'dashboard.users' | translate }}
            </a>
          </ng-template>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="animated fade-in-down" fixedInViewport>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="!isDesktop">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="general-welcome">
          {{ 'general.welcome' | translate }} {{ (user$ | async)?.displayName || (user$ | async)?.email }}!
        </span>
        <div class="toolbar-config">
          <div>
            <button type="button" [matTooltip]="translation.translate('dashboard.language-tooltip')"
              aria-label="Toggle translate" (click)="onSwitchLanguage()" mat-icon-button>
              <span *ngIf="translation.getCurrentLanguage() === 'en-US'"
                class="flag-icon flag-icon-us flag-icon-squared">
              </span>
              <span *ngIf="translation.getCurrentLanguage() === 'es-CO'"
                class="flag-icon flag-icon-co flag-icon-squared">
              </span>
            </button>
          </div>
          <button *ngIf="!isDesktop" type="button" aria-label="Sign out" (click)="signOut()" mat-icon-button>
            <mat-icon inline=true>logout</mat-icon>
          </button>
          <button *ngIf="isDesktop" (click)="signOut()" mat-flat-button>
            {{ 'auth.sign-out' | translate }}
            <mat-icon inline=true>logout</mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
