<div [ngClass]="{'dark-mode': isDarkMode}">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav color="primary" #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>
        {{ 'dashboard.menu' | translate }}
      </mat-toolbar>
      <mat-nav-list>
        <mat-list>
          <div mat-subheader>{{ 'dashboard.nav-list.home' | translate }}</div>
          <a mat-list-item href="#">Link 1</a>
          <a mat-list-item href="#">Link 2</a>
          <a mat-list-item href="#">Link 3</a>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar [color]="!isDarkMode && 'primary'" fixedInViewport>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>
          {{ 'dashboard.notes' | translate }}
        </span>
        <div class="toolbar-config">

          <button
            type="button"
            [matTooltip]="locale.translate('dashboard.language-tooltip')"
            aria-label="Toggle translate"
            (click)="onSwitchLanguage()"
            mat-icon-button>
            <span
              *ngIf="locale.getCurrentLanguage() === 'en-US'"
              class="flag-icon flag-icon-us flag-icon-squared">
            </span>
            <span
              *ngIf="locale.getCurrentLanguage() === 'es-CO'"
              class="flag-icon flag-icon-co flag-icon-squared">
            </span>
          </button>

          <button
            type="button"
            aria-label="Toggle dark mode"
            (click)="onSwitchTheme()"
            mat-icon-button>
            <mat-icon
              [matTooltip]="locale.translate('dashboard.dark-mode')"
              *ngIf="!isDarkMode"
              aria-label="dark mode">
              dark_mode
            </mat-icon>
            <mat-icon
              [matTooltip]="locale.translate('dashboard.light-mode')"
              *ngIf="isDarkMode"
              aria-label="light mode">
              light_mode
            </mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
