// =============Poppins=============

// Regular
@font-face {
  font-family: 'Poppins';
  src: url('./../../fonts/Poppins/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./../../fonts/Poppins/Poppins-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
// Medium
@font-face {
  font-family: 'Poppins';
  src: url('./../../fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./../../fonts/Poppins/Poppins-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}
// SemiBold
@font-face {
  font-family: 'Poppins';
  src: url('./../../fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./../../fonts/Poppins/Poppins-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}
// Bold
@font-face {
  font-family: 'Poppins';
  src: url('./../../fonts/Poppins/Poppins-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./../../fonts/Poppins/Poppins-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
